<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Bienvenue sur notre site de friperie</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		body {
			background-image: url("media/back.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		.container-fluid {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background: rgba(255, 255, 255, 0.5);
			backdrop-filter: blur(10px);
		}

		.jumbotron {
			background-color: transparent;
		}

		.btn {
			background-color: #1d3557;
			color: #fff;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1 class="display-4">Bienvenue sur notre site de friperie</h1>
			<p class="lead">Nous proposons une large sélection de vêtements et d'accessoires vintage à des prix abordables.</p>
			<a class="btn btn-lg btn-primary" href="/main_page" role="button">Accéder au site</a>
			<a class="btn btn-lg btn-primary" href="/connexion" role="button">Mon compte</a>
		</div>
	</div>
	<footer class="text-center">
		<p>Tous les droits réservés © 2023 StyleSwap.com</p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


